.grid {
  display: grid;
  grid-gap: 5px;
  background-color: #f00;
  padding: 5px;
}

.grid div {
  background-color: blueviolet;
  height: 100%;
  position: relative;
}
.grid img {
  background-color: blueviolet;
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 365px) {
  .grid {
    grid-template-columns: repeat(6, 42px);
    grid-template-rows: repeat(6, 42px);
  }
}

@media (min-width: 365px) and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(6, 57px);
    grid-template-rows: repeat(6, 57px);
  }
}

@media (min-width: 481px) {
  .grid {
    grid-template-columns: repeat(6, 67px);
    grid-template-rows: repeat(6, 67px);
  }
}
