body {
  margin: 0;
  font-family: naskh, -apple-system, BlinkMacSystemFont, "Ubuntu", "Segoe UI",
    "Oxygen", "Roboto", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: naskh;
  src: url("./NotoNaskhArabic-VariableFont_wght.ttf");
}
